---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <!-- Google AdSense Display Ad -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2996839415438815"
       crossorigin="anonymous"></script>

  <ins class="adsbygoogle"
       style="display:block; margin:20px 0;"
       data-ad-client="ca-pub-2996839415438815"
       data-ad-slot="3235160979"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>

  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <div class="post-content">
    {{ content }}
  </div>

</article>
